.grid-puestos {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columnas, igual a tu app */
    gap: 10px;
    margin-top: 20px;
}

.puesto-btn {
    background-color: #10b981; /* Verde (Libre) */
    color: white;
    border: none;
    padding: 15px 5px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.puesto-btn.ocupado {
    background-color: #ef4444; /* Rojo (Ocupado) */
}

.hidden { display: none; }
.btn-danger { background-color: #df2e2e; color: white; }